In [1]:
import pandas as pd

In [4]:
gaps = pd.read_csv('new_gapdata.csv')
gaps.dtypes

Unnamed: 0                 int64
ViolationID                int64
BuildingID                 int64
RegistrationID             int64
BoroID                     int64
HouseNumber               object
StreetName                object
StreetCode                 int64
Zip                        int64
Apartment                 object
Story                     object
Class                     object
InspectionDate            object
ApprovedDate              object
OriginalCertifyByDate     object
OriginalCorrectByDate     object
NewCertifyByDate          object
NewCorrectByDate          object
CertifiedDate             object
OrderNumber                int64
CurrentStatusID            int64
CurrentStatus             object
CurrentStatusDate         object
BBL                        int64
Full_Address              object
Address                   object
UnitsRes                   int64
UnitsTotal                 int64
YearBuilt                  int64
XCoord                    object
YCoord                    object
Complaints                 int64
Violations                 int64
Gap                        int64
Gap_ratio                float64
normalized_gap_ratio      object
dtype: object

In [5]:
gaps.head()

,Unnamed: 0,ViolationID,BuildingID,RegistrationID,BoroID,HouseNumber,StreetName,StreetCode,Zip,Apartment,...,UnitsRes,UnitsTotal,YearBuilt,XCoord,YCoord,Complaints,Violations,Gap,Gap_ratio,normalized_gap_ratio
0,0,10506902,14,115401,1,1058,1 AVENUE,10010,10022,PENTC,...,125,132,1929,994719,215676,2,5,-3,-60,-0.02272727
1,1,10506854,14,115401,1,1058,1 AVENUE,10010,10022,PENTC,...,125,132,1929,994719,215676,2,5,-3,-60,-0.02272727
2,2,10506855,14,115401,1,1058,1 AVENUE,10010,10022,PENTC,...,125,132,1929,994719,215676,2,5,-3,-60,-0.02272727
3,3,10506853,14,115401,1,1058,1 AVENUE,10010,10022,PENTC,...,125,132,1929,994719,215676,2,5,-3,-60,-0.02272727
4,4,10604743,14,115401,1,1058,1 AVENUE,10010,10022,PHC,...,125,132,1929,994719,215676,2,5,-3,-60,-0.02272727